@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('/assets/fonts/Montserrat/Montserrat-BlackItalic.ttf');  
}

.mont-BlackItalic{
  font-family: 'Montserrat-BlackItalic';
}

@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url('/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');  
}

.mont-ExtraBoldItalic{
  font-family: 'Montserrat-ExtraBoldItalic';
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('/assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');  
}

.mont-BoldItalic{
  font-family: 'Montserrat-BoldItalic';
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('/assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');  
}

.mont-SemiBoldItalic{
  font-family: 'Montserrat-SemiBoldItalic';
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');  
}

.mont-MediumItalic{
  font-family: 'Montserrat-MediumItalic';
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('/assets/fonts/Montserrat/Montserrat-Italic.ttf');  
}

.mont-Italic{
  font-family: 'Montserrat-Italic';
  font-size: small;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/fonts/Montserrat/Montserrat-Medium.ttf');  
}

.mont-Medium{
  font-family: 'Montserrat-Medium';
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');  
}

.mont-Regular{
  font-family: 'Montserrat-Regular';
}